@charset "UTF-8";
/* CSS Document */

html {
	font-size:16px;
}

body {
	margin:0 auto;
	
}




/* ///////////////////////////////////////////////////////////////////////////////HEADER */

.main-header {
z-index:1;
	position:fixed;
	height:7rem;
	margin:0 auto;
}


ul {
	list-style-type:none;
}
li  {
	display:inline;
	margin:1rem 1rem;
    font-family:Anton, helvetica, sans-serif;
	font-size:3rem;
}
a {
	color:#ff7f50;
	}


/* ////////////////////////////////////////////////////////////////////////////////HERO */

.hero 	{
	margin: 0 auto;
	margin-top:7rem;
	
	
	
}
.top-bar-section ul li > a {
	font-family:'Anton';
}
h1 {
	font-family:'Anton';
}

footer {
	background-color:lightgreen;
}

/* ////////////////////////////////////////////////////////////////////////////////GALLERY */

.gallery img {
	
	 padding: .3125rem;
	
}
/* ////////////////////////////////////////////////////////////////////////////////REVIEW */

/* ////////////////////////////////////////////////////////////////////////////////ABOUT*/



/* ////////////////////////////////////////////////////////////////////////////////CONTACT */


	